@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@600;800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,400,500,700&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  height: 100%;
  background-color: #cecece;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 500px) {
  body {
    background-position: 36% 65%;
  }
}
