.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-family: "Baloo Paaji 2", cursive;
  color: #ffffff;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  position: fixed;
  width: 100%;
  background-color: #4b4ba2;
  z-index: 1;
  bottom: 0;
  left: 0;
}
