.squirrel {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 3em;
  margin-right: 3em;
  max-width: 5vw;
  transition: 250ms all;
  flex: 1;
}

.logoText {
  display: block;
  text-align: left;
  font-family: "Baloo Paaji 2", cursive;
  font-weight: 600;
  padding-left: 0.3em;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1.2em;
  color: #ffffff;
}

.squirrel:hover {
  transform: scale(1.1);
}

.squirrel img {
  height: 55px;
  width: auto;
}

nav {
  position: fixed;
  width: 100%;
  background-color: #4b4ba2;
  z-index: 1;
  top: 0;
  left: 0;
}

.nav {
  display: flex;
  padding: 20px 0;
  box-shadow: 1px 1px 1px 0.3px #4b4ba2;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.link {
  padding-left: 2em;
  margin-bottom: 0.5em;
  text-decoration: none;
  color: #ffffff;
}

.navLinks {
  min-width: 30vw;
  align-items: right;
  font-size: 1.1em;
  padding-right: 3em;
  font-weight: 500;
  /* display: block; */
  text-align: right;
  margin: 0;
}

.navOptions {
  padding-right: 0;
  margin-bottom: 0.5em;
  max-width: 30vw;
  text-align: right;
}

.userHello {
  max-width: 30vw;
  align-items: right;
  text-align: right;
  margin: 0;
  margin-top: 0.5em;
  color: #ffffff;
}

.nav a {
  text-decoration: none;
  color: #ffffff;
}

a {
  text-decoration: none;
}

@media (max-width: 500px) {
  nav {
    width: 100%;
  }
  html {
    font-size: 14px;
  }

  .squirrel {
    margin-left: 2em;
    max-width: 3vw;
  }

  .logoText {
    font-size: 1.2em;
  }

  .squirrel img {
    height: 45px;
    width: 45px;
  }

  .navLinks {
    font-size: 0.8em;
  }

  .navOptions {
    margin-bottom: 0.5em;
    text-align: left;
    display: block;
  }

  .link {
    margin-bottom: 0.2em;
    text-align: right;
    display: block;
  }

  .userHello {
    margin-top: 0.5em;
    padding: 0;
    max-width: 40vw;
    align-items: right;
    text-align: right;
  }
}
